html,
body,
div,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*fonte*/
    font-size: 20px; /*tamanho da fonte*/
    color: brown;  /*cor da fonte*/
    text-align: center; /*alinhamento do titulo h1*/
    background-image:url(Imagens/fundoamarelo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body{
    min-height: 100vh;
    padding-top: 60px;
    background-color: #FFF970; /*cor de fundo alterada */
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

p {
    font-size: 14px; /*altera tamanho da fonte de paragrafo*/
}

a#botao button{
    border-radius: 10px; /*arredondamento button*/
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
    cursor: pointer;
}

a#botao img{
    height: 20px;
}

div#imagens{
    width: 100%;
    display: flex;
}

div#imagens img{
    max-width: calc(100% / 3);
    display: block;
}

iframe{
    display: block;
    max-width: 100%;
}

nav{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 60px;
    display: flex;
    padding: 0 10px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

nav img#logo{
    display: block;
    margin: 0;
    width: 120px;
    height: 60px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li a{
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: orangered;
    transition: color 300ms;
}

nav ul li a:hover{ 
    background-color: rebeccapurple;
    color: brown;
}

footer{
    background-color: white;
    color: brown;
    text-align: center;
}